<ion-view view-title="Bluetooth">
    <ion-content class="padding">
        <button class="button button-block button-positive" ng-click="initialize()">Search for Devices</button>
        <ion-list>
           <ion-item ng-repeat="device in devices track by device.address" ui-sref="app.bledevice({deviceId: device.address})">
               <!--<a ui-sref="app.bledevice({deviceId: device.address})">{{device.name}}</a>-->
               <span>{{device.name}}</span>
           </ion-item>
       </ion-list>
    </ion-content>
</ion-view>